<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
    <add assembly="NLog.Extended" />
    <add assembly="NLog.Web" />
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <!--[變數] 文字樣板 -->
  
  <variable name="ClientInfo"   value="${aspnet-user-identity} ${aspnet-Request-IP} ${SessionId}" />
  <variable name="BaseInfo"     value="[${threadid}] [${aspnet-request-ip}] ${date:format=HH\:mm\:ss.fff}  ${level:uppercase=true} ${logger:shortName=true} L:${callsite-linenumber}" />
  <variable name="Layout"       value="${BaseInfo} - ${message} ${onexception:${newline}${exception:format=tostring}${newline}${aspnet-request-summary}}"/>
  <variable name="LayoutError"  value="${BaseInfo} - ${message} ${newline}${exception:format=tostring}${newline}${aspnet-request-posted-body}"/>

  <!--[變數] 檔案位置 -->
  <variable name="LogTxtLocation"       value="${basedir}/Log/DailyLog.${date:yyyyMMdd}.txt"/>
  <variable name="LogTxtLocationFatal"  value="${basedir}/Log/Error/ErrorDailyLog.${date:yyyyMMdd}.txt"/>
  <targets async="true">
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <target name="DailyLog" xsi:type="File" fileName="${LogTxtLocation}" layout="${Layout}" encoding="UTF-8" keepFileOpen="false" deleteOldFileOnStartup="false" />
    <!--<target name="DailyLogError" xsi:type="File" fileName="${LogTxtLocationFatal}" layout="${LayoutError}" encoding="UTF-8" keepFileOpen="false" />-->
  </targets>

  <!--[設定] 紀錄規則-->
  <rules>
    <logger name="*" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="DailyLog"/>
    <!--<logger name="*" levels="Error,Fatal" writeTo="DailyLogError" />-->
  </rules>
</nlog>